
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 3px solid #ddd;
}



td a{
    border: 2px solid;
    padding: 3px;
    margin-left: 1em;
    cursor: pointer;

}

td div{
    display: flex;
    justify-content: flex-end;

}

tr:hover{background-color:#f5f5f5}

.add_contact{
    text-align: center;
    padding: 5px;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    margin-bottom: 15px;
    width: 200px;
    position: relative;
    background-color: rebeccapurple;
}

.add_contact a{
    color: white;
}

.add_contact a:hover{
    color: #f89e9e;
}



.link_delete{
    color: red ;
}

.link_delete:hover{
    background-color: #f89e9e;
}

.link_edit{
    color: blue ;
}
.link_edit:hover{
    background-color: #9fc7bb;
}