.message{
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50% ;
    transform: translateX(-50%);
    width: 300px;
    height: 25px;
    padding: 1em auto;
    border: 1px solid;
    text-align: center;
    border-radius: 5px;
}

.success{
    color: #155724;
    background-color: #D4EDDA;
    border-color: #C3E6Cb;
}

.error{
    color: #721C24;
    background-color: #F8D7DA;
    border-color: #F5C6CB;
}